@{
    ViewData["Title"] = "Home Page";
    List<Pizza> menu = new List<Pizza>();
    Pizza margherita = new Pizza("Margherita","Pomodoro, Mozzarella","/img/pizza-photos/margherita.jpg",8.00m);
    Pizza diavola = new Pizza("Diavola", "Pomodoro, Mozzarella, Salamino piccante", "/img/pizza-photos/diavola.jpg", 10m);
    Pizza quattroStagioni = new Pizza("4 Stagioni", "Pomodoro, Mozzarella, Prosciutto Cotto, Funghi, Carciofini, Olive Nere",  "/img/pizza-photos/quattro-stagioni.jpg", 12m);
    Pizza quattroFormaggi = new Pizza("4 Formaggi", "Pomodoro, Mozzarella, Gorgonzola, Scamorza, Grana", "/img/pizza-photos/quattro-formaggi.jpg", 9m);
    menu.Add(margherita);
    menu.Add( diavola);
    menu.Add(quattroStagioni);
    menu.Add(quattroFormaggi);
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
*@</head>
<body>
    <header class="d-flex justify-content-around py-4">
        <div class="header-left">
            logo pizzeria
        </div>
        <div>
            barra di navigazione
        </div>
    </header>
    <section class="text-center bg-dark bg-gradient text-white py-5" id="pizza-library">
        <div class="container">
            <div class="row">
                @foreach (Pizza pizza  in menu)
                {
                    <div class="col-3">
                        <div class="card bg-dark bg-gradient text-white border-2 border-white">
                            <img class="img-fluid" src="@pizza.ImgPath" alt="@pizza.Name" />
                            <h3 class="py-1">@pizza.Name</h3>
                            <span class="py-1">Price : @pizza.Price $</span>
                            <p class="px-2"> Ingredienti: <small>@pizza.Description</small></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <footer class="text-center py-5">
        <span>Made with &hearts; by ME</span>
    </footer>
</body>